{% extends "padre.html" %}

{% load static %}

{% block title %} registro cursos {% endblock %}

{% block contenido %}

    <main>
        <section>
            <!-- Page Content-->
            <div class="container px-2 my-2">
                <div>
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Registro de cursos</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                    </div>
                </div>
            </div>   
        </section>

        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-3 col-xl-3">
                <div class="container px-5 my-5">
                    <div class="card">
                        <div class="container px-2 my-2">
                            <div class="card-body">
                                <form action="formulario_cursos" method="POST">
                                    {% csrf_token %}
                                    <br>
                                    <p>nombre:</p>
                                    <input type="text" name="nombre" class="form-control" placeholder="nombre" maxlength="40" required>
                                    <br>
                                    <p>camada:</p>
                                    <input type="number" name="camada" class="form-control" placeholder="camada" minlength="6" maxlength="6" required>
                                    <br>
                                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>        
        <div class="col-sm-12 col-md-8 col-lg-3 col-xl-3">
            <div class="container px-5 my-5">                
                <a href="ver_cursos" class="btn btn-primary">volver</a>            
            </div>
        </div>       
        <div><br></div>
    </main>

{% endblock %}