<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %} </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'AppCoderH/assets/favicon.ico' %}" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppCoderH/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="fw-bolder text-primary">coder4</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ms-auto mb-2 mb-lg-0 small fw-bolder">

                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'cursos' %}">Cursos</a></li>                   
                    <li class="nav-item"><a class="nav-link" href="{% url 'profesores' %}">Profesores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'alumnos' %}">Alumnos</a></li>

                    {% if not user.is_authenticated %}
                    
                    <li class="nav-item mx-1"><a class="btn btn-outline-primary btn-sm" href="{% url 'Login' %}">sign in</a></li>
                    <li class="nav-item mx-1"><a class="btn btn-secondary btn-sm" href="{% url 'Register' %}">sign up</a></li>
                    {% endif %}

                    {% if request.user.is_authenticated %}                    
                    <li class="nav-item mx-1"><a class="nav-link" href="#!" style="color: #39b1e1">{{user.username}}</a></li>
                    <img src="{{url}}" class="rounded-circle" width="25px" height="30px">
                    <li class="nav-item mx-1">
                        <form method="post" action="{% url 'Logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">LogOut</button>
                        </form>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
        {% block contenido %}


        {% endblock %}
    <div><br/><br/><br/></div>
    </body>


    <!-- About Section-->
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                        <p class="lead fw-light mb-4">Esto es <b>coder4</b> y queremos incursionar un poco más en tus habilidades.</p>
                        <p class="text-muted">Esto solo es un juego, un momento de distracción, un instante que se hace eterno y recuerdas que se te hizo tarde para dormir y que mañana debes trabajar jajaja</p>
                        <div class="d-flex justify-content-center fs-2 gap-4">
                            <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                            <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                            <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; No se copien de esta Website hecha en 2024</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'AppCoderH/js/scripts.js' %}"></script>
    <!-- Alerts JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--<script src="{% static 'AppCoderH/js/eliminarObjetos.js' %}"></script>-->

    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "felicidades",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
            {{m}}
        {% endfor %}
    {% endif %}
    {% block js %}
    {% endblock %}

</html>
